@media print {

  @page {
    size: auto;
    margin: 0;
  }

  html, body {
    margin: 0;
    padding: 0;
    background: white;
    height: 100%;
  }

  body * {
    visibility: hidden !important;
  }

  #printable-area,
  #printable-area * {
    visibility: visible !important;
  }

  #printable-area {
    margin: 0 1mm !important;
    position: absolute !important;
    left: 50% !important;
    top: 10mm !important;
    transform: translateX(-50%) !important;

    /* width removed */
    background: white !important;

    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 4mm !important;
  }

}